.inputWrapper{
    margin-bottom: 1.5rem ;
}

.labelInput{
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.customInput{
    border-width: 0;
    border-bottom-width: 1px ;
    width: 100%;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    opacity: 0.7;
}

.customInput:focus{
    outline: none;
    opacity: 1;
    transition: all 0.2s;
}

.customInput::placeholder{
    color: grey;
}